div{
  height: 100px;
  width:100px;
}
.red{
  display: inline-block;
  background-color: red;
  position: absolute;
  left: 208px;
  top: 208px;
}
.blue{
  display: inline-block;
  background-color: blue;

}
.yellow{
  display: inline-block;
  background-color: yellow;
  position: absolute;
  left: 108px;
  top: 108px;

}
